modules = ["bun-1.1", "bash", "nix", "nodejs-22", "replit-rtld-loader", "docker", "fuse"]
run = "echo \"See readme for instructions on how to run this\""

[nix]
channel = "unstable"

[deployment]
run = ["sh", "-c", "echo \"See readme for instructions on how to run this\""]
